# Firebase Console 
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_STORAGE_BUCKET=

# Github Classroom Repository Prefix
VITE_GITHUB_CLASSROOM_REPO_PREFIX=<REPO_PREFIX-optional>
VITE_GITHUB_VERIFY_OWNER=<GITHUB_USERNAME>
VITE_GITHUB_VERIFY_REPO=<GITHUB_REPO_NAME>